<%-include('../partials/partialtime', {DocumentTitle:'Welcome, Mr. Administrator!'})%>


    <h1>Administration</h1>

    <div class="d-inline">

        <a href="/admin/edit" class="btn btn-success text-uppercase px-3">Edit</a>


        <a href="/admin/create" class="btn btn-success text-uppercase px-3">Create</a>

    </div>

</div>
    
 <%-include('../partials/footer')%>